@use '../atomic/root/root.scss';
@import '../variables.scss';

.carousel {
  background-image: radial-gradient(103.12% 50%, rgb(33, 25, 58) 0%, rgb(25, 19, 38) 100%);
  width: 100%;
  display: flex;
  padding-top: root.toRem(85);
  justify-content: center;
  position: relative;

  z-index: -1;

  .carouselWrapper {
    margin-top: 3.3rem;
    width: 100%;
    display: flex;
    fill: black;
    align-items: center;
    flex-direction: column;

    .slider {
      max-width: root.toRem(1112);
      height: root.toRem(192);
      border-radius: root.toRem(32);
    }
    .firstSlider {
      display: flex;
      width: 95%;

      background-image: linear-gradient(rgb(237, 109, 66) 0%, rgb(141, 31, 11) 100%);
      position: relative;
      justify-content: space-between;
      .contents {
        margin: root.toRem(24);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h2 {
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-font-smoothing: antialiased;
          -webkit-text-fill-color: transparent;
          background-image: linear-gradient(rgb(255, 216, 0) 0%, rgb(235, 140, 0) 100%);
          position: relative;
          font-size: root.toRem(24);
          font-weight: 600;
          margin-bottom: root.toRem(8);
          line-height: 1;
        }
        .carouselTitle {
          font-size: root.toRem(40);
          color: rgb(255, 255, 255);
          text-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px;
          font-family: Kanit;
          font-style: normal;
          font-weight: 600;
          line-height: 110%;
          color: rgb(255, 255, 255);
          margin-bottom: root.toRem(21);
        }
        a {
          button {
            align-items: center;
            border-width: 0;
            border-radius: root.toRem(16);
            box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
            cursor: pointer;
            display: inline-flex;
            font-family: inherit;
            font-size: root.toRem(16);
            font-weight: 600;
            transition-duration: 0.2s, 0.2s;
            height: root.toRem(48);
            padding: 0 root.toRem(24);
            background-color: $colors-primary;
            color: $colors-invertedContrast;
            letter-spacing: root.toRem(0.48);
            .buttonDesc {
              margin-right: root.toRem(4);
            }
            &:hover {
              opacity: 0.65;
            }
          }
        }
      }

      .upperRings,
      .lowerRings {
        width: root.toRem(294);
        height: root.toRem(70);
      }
      .rabbit {
        position: absolute;
        right: 4%;
        bottom: -8%;
        width: root.toRem(180);
        height: root.toRem(280);
        z-index: 1;
      }
      .upperRings {
        position: absolute;
        top: 0;
        left: 42%;
      }
      .lowerRings {
        position: absolute;
        bottom: 0;
        right: 18%;
      }
    }
    .secondSlider {
      position: relative;
      flex-direction: row;
      width: 95%;
      justify-content: space-between;
      background-image: linear-gradient(rgb(0, 191, 165) 0%, rgb(0, 90, 90) 100%);
      overflow: visible;
      .contents {
        margin: root.toRem(24);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h2 {
          img {
            z-index: 4;
            width: 211px;
            height: 18px;
          }
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-font-smoothing: antialiased;
          -webkit-text-fill-color: transparent;
          background-image: linear-gradient(rgb(255, 216, 0) 0%, rgb(235, 140, 0) 100%);
          position: relative;
          font-size: root.toRem(24);
          font-weight: 600;
          margin-bottom: root.toRem(8);
          line-height: 1;
        }
        .carouselTitle {
          font-size: root.toRem(40);
          color: rgb(255, 255, 255);
          text-shadow: rgba(0, 0, 0, 0.25) 0px 2px 2px;
          font-family: Kanit;
          font-style: normal;
          font-weight: 600;
          line-height: 110%;
          color: rgb(255, 255, 255);
          margin-bottom: root.toRem(21);
        }
        a {
          button {
            align-items: center;
            border-width: 0;
            border-radius: root.toRem(16);
            box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
            cursor: pointer;
            display: inline-flex;
            font-family: inherit;
            font-size: root.toRem(16);
            font-weight: 600;
            transition-duration: 0.2s, 0.2s;
            height: root.toRem(48);
            padding: 0 root.toRem(24);
            background-color: $colors-primary;
            color: $colors-invertedContrast;
            letter-spacing: root.toRem(0.48);
            .buttonDesc {
              margin-right: root.toRem(4);
            }
            &:hover {
              opacity: 0.65;
            }
          }
        }
      }
      .imageContainer {
        .aptos {
          position: absolute;
          bottom: 0%;
          width: 100%;
          z-index: 1;
        }
      }
    }
  }
  .carouselNav {
    display: flex;
    position: absolute;
    bottom: 10%;
    .carouselNavButton {
      &.active {
        background-color: #fff;
        width: 3rem;
        width: 2rem;
        height: 0.5rem;
      }
      &.deactive {
        background-color: #ffffff5b;
        width: 3rem;
        width: 2rem;
        height: 0.5rem;
      }
    }
    .carouselNavButton:nth-child(1) {
      border-radius: 1rem 0 0 1rem;
    }
    .carouselNavButton:nth-child(3) {
      border-radius: 0 1rem 1rem 0;
    }
  }
}

@include root.media('tablet') {
  .carousel {
    @include root.clear();
    padding: root.toRem(40) 0 root.toRem(48) 0;
    .carouselNav {
      display: flex;
      bottom: 30%;

      z-index: 5;
    }
    .carouselWrapper {
      padding: root.toRem(32) root.toRem(24) 0 root.toRem(24);
      .firstSlider,
      .secondSlider {
        margin: root.toRem(-36) 0 root.toRem(30) 0;
        height: root.toRem(189);
        .contents {
          h2 {
            font-size: root.toRem(24);
          }
          .carouselTitle {
            font-size: root.toRem(35);
          }
        }

        .upperRings,
        .lowerRings {
          display: none;
        }
        .rabbit {
          width: root.toRem(130);
          height: root.toRem(189);
          bottom: 0;
          z-index: 1;
        }
      }
    }
  }

  @include root.media('mobile') {
    .carousel {
      @include root.clear();
      .carouselNav {
        display: flex;
        position: absolute;
        bottom: 10%;
      }
      .carouselWrapper {
        .firstSlider,
        .secondSlider {
          @include root.clear();
          width: root.toRem(529);
          height: root.toRem(176);
          .contents {
            h2 {
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-font-smoothing: antialiased;
              -webkit-text-fill-color: rgba(0, 0, 0, 0);
              -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
              -webkit-text-stroke-width: root.toRem(1);
            }
            .carouselTitle {
              font-size: root.toRem(23);
            }
          }

          .upperRings,
          .lowerRings {
            display: none;
          }
          .rabbit {
            width: root.toRem(130);
            height: root.toRem(189.44);
            bottom: 0;
            z-index: 1;
          }
        }
      }
    }
  }
}
