.scrollToTop {
  position: fixed;
  right: 5%;
  bottom: calc(110px);
  width: 48px;
  height: 48px;
  z-index: 5;
  
  .scrollButton {
    background-color: rgb(31, 199, 212);
    border-radius: 16px;
    border-width: 0px;
    width: 48px;
    height: 48px;
    .scrollButtonImg {
      width: 20px;
    }
  }
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
