@import './variables.scss';
@import './header';
@import './footer';
@import './atomic/scrollbar/scrollbar.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    width: calc(100vw - 0.5rem);
    .sectionsContainer {
        height: 200vh; // WARNING YOU HAVE TO DELETE TO START THIS IS JUST FOR TESTING !!!
        background-color: black;
    }
}
a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}
// THIS IS NOT FUNCTIONAL THIS DOC IS ONLY FOR EXAMPLE
